/* *******************************tag-selector******************************************** */
body {
  margin: 0px;
}

h1 {
  font-size: 5rem;
  font-family: 'Courgette', cursive;
  margin-bottom: 0px;
}

h2 {
  font-size: 1rem;
  font-family: 'Merienda One', cursive;
}

h3 {
  font-size: 2rem;
  margin: 0px;
}

hr {
  width: 16rem;
  border: dotted #c7cfb7;
  border-width: 1.3em 0px 0px 0px;
}

a{
  font-size: 1.5rem;
  padding: 29px;
}
/* *****************************************id's**************************************** */
#title-name{
  font-size: 3rem;
  font-weight:bolder;
  color: #91684a;
}

/* *********************************top container********************************************* */
.top-container {
  background-color: #a3ddcb;
  text-align: center;
  padding-top: 9%;
}

.top-cloud {
  position: absolute;
  margin-left: 16%;
  margin-top: -3%;
  width: 17%;
}

.bottom-cloud {
  position: absolute;
  margin-left: -18%;
  margin-top: -3%;
  width: 17%;
}

.mountain-img {
  width: 50%;
}

/* ***************************************middle-container************************************** */
.intro {
  text-align: center;
  margin: auto;
  width: 50%;
  padding-top: 3%;
  margin-bottom: 66px;
}

.skill-heading {
  font-size: 2.8rem;
  text-align: center;
}

.skill-img1 {
  width: 15%;
  float: left;
  margin-right: 50px;
}

.skill-img2 {
  width: 15%;
  float: right;
  margin-left: 50px;
}

.skill-row {
  width: 50%;
  text-align: left;
  margin: 50px auto 50px;
  ;
  line-height: 31px;
}

/* ******************************lower-container****************************************** */
.lower-container {
  text-align: center;
  width: 50%;
  margin: 27px auto;
}


.btn:hover {
  background: #ccd8e0;
  background-image: -webkit-linear-gradient(top, #ccd8e0, #c6d7e3);
  background-image: -moz-linear-gradient(top, #ccd8e0, #c6d7e3);
  background-image: -ms-linear-gradient(top, #ccd8e0, #c6d7e3);
  background-image: -o-linear-gradient(top, #ccd8e0, #c6d7e3);
  background-image: linear-gradient(to bottom, #ccd8e0, #c6d7e3);
  text-decoration: none;
}

/* **********************************footer************************************************** */
.footer {
  text-align: center;
  background-color: #80ffdb;
  padding: 115px 0px 16px;
}
.footer-logo{
  vertical-align: middle;
    height: 34px;
    margin: 0px 37px;
    width: 34px;
}
